<% first_product = Product.first %>
<% cheap_product = Product.where('price > 10').first %>
<p>Product: "<%= first_product.name %>" costs $<%=first_product.price%></p>
<p>
  The owner of this product is <%= first_product.user.name %>
</p>

<p>Cheap Product: "<%= cheap_product.name %>" costs $<%= cheap_product.price %></p>
<p>
  The owner of this product is <%= cheap_product.user.name %>
</p>

<p>
  Total number of products: <%= Product.count %>
</p>